:root {
  --font-family-crimson-pro-regular: "Crimson Pro", serif;
  --font-family-crimson-pro-black: "Crimson Pro Black", serif;
  --font-family-fascinate: "Fascinate", system-ui;
  --primary-blue: #8fb6c2;
  --primary-green: #06270b;
  --primary-orange: rgb(131, 63, 0);
  --secondary-blue: #062a35;
  --secondary-green: #c9de49;
  --secondary-orange: #ed923d;
  --light-base: #cfcfcf;
  --dark-base: #262626;
}

/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipography */
body {
  font-family: var(--font-family-crimson-pro-regular);
}

/* HEADER */
header {
  background: var(--primary-blue);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

/* Logo - TODO: create css class to specify h1 better */
h1 {
  font-family: var(--font-family-fascinate);
  font-size: 3em;
  color: var(--primary-green);
}

h1 a {
  transition: 0.3s;
  text-decoration: none;
  color: var(--primary-green);
}

h1 a:hover {
  transition: 0.3s;
  letter-spacing: 0.05em;
}

/* Social Nav Menu */
.social {
  font-size: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  /* TODO: why everything moves on hover? */
}

.social a {
  transition: 0.3s;
  color: var(--primary-green);
  text-decoration: none;
}

.social a:hover {
  transition: 0.3s;
  font-size: 1.1em;
}
/* END OF HEADER */

/* Main Content Styles */
main {
  padding: 20px;
  background-color: var(--light-base);
  height: 100%;
}

h2 {
  color: var(--dark-base);
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 1em;
  align-items: start;
}

.profile-pic {
  width: 100%;
  margin: 10px 0 0 10px;
  grid-row: 1 / 2;
  border-radius: 3%;
  box-shadow: -10px -10px 0 0 rgba(38, 38, 38, 0.8); /* dark-base 80% */
}

.about-text {
  padding: 20px;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: justify;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.about button {
  transition: 0.3s;
  width: 100%;
  padding: 10px 10px;
  margin-top: 1em;
  background: var(--dark-base);
  color: var(--light-base);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.about button:hover {
  transition: 0.3s;
  background: var(--primary-green);
}

.about-skills {
  grid-column: 1 / span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.about-skills ul li {
  font-size: 3em;
  color: var(--dark-base);
  padding: 5px 10px;
  border-radius: 5px;
}
/* End of About Section */

/* Projects Section */
.projects {
  padding: 20px;
}
/* End of Projects Section */

footer {
  background: var(--primary-orange);
  color: var(--light-base);
  text-align: center;
  padding: 0.3em;
}
