:root {
  --font-family-crimson-pro-regular: "Crimson Pro", serif;
  --font-family-crimson-pro-black: "Crimson Pro Black", serif;
  --font-family-fascinate: "Fascinate", system-ui;
  --primary-color: #8fb6c2;
  --secondary-color: #06270b;
  --tertiary-color: #833f00;
  /* --quaternary-color: #f7f7f7; -> TODO: light orange */
  --light-base: #cfcfcf;
  --dark-base: #262626;
}

/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipography */
body {
  font-family: var(--font-family-crimson-pro-regular);
}

/* HEADER */
header {
  background: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo - TODO: create css class to specify h1 better */
h1 {
  font-family: var(--font-family-fascinate);
  font-size: 3em;
  color: var(--secondary-color);
}

h1 a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1 a:hover {
  font-style: italic;
}

/* Navigation Menu */
header nav ul {
  font-size: 2em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  gap: 1em;
  /* TODO: why everything moves on hover? */
}

header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

header nav ul li a:hover {
  font-weight: 600;
}
/* END OF HEADER */

/* Main Content Styles */
main {
  padding: 20px;
  background-color: var(--light-base);
  height: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.profile-pic {
  width: 24vw;
  /* border-radius: 50%; */
  margin: 0 0;
  display: block;
}

h2 {
  color: var(--dark-base);
}

footer {
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: end;
  bottom: 0;
  width: 100%;
}

/* section#section-404 {
  text-align: center;
  margin-top: 100px;
}
h2.page-404 {
  font-family: var(--font-family-crimson-pro-black);
  font-size: 5em;
}

p.page-404 {
  font-family: var(--font-family-crimson-pro-regular);
  font-size: 1.2em;
} */

/* Responsive design adjustments */
/* Responsive Images */
/* img {
  max-width: 50%;
  height: auto;
} */

/* Responsive Navigation Menu */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  header {
    text-align: center;
  }
}
